<div>
    <a class="back-to-list">Back</a>
    <br>
    {{ item.title }}
    <br>
    <div>{{ item.body }}</div>
    <br>
    <img class="image-preview-class" src="{{ asset('uploads/images/') ~ item.pic }}" />
</div>