{% for item in paginator %}
    <tr data-id="{{ item.id }}">
        <td>
            {% include 'partials/image_view.html.twig' with {'src' : item.pic} %}
        </td>
        <td>
            <a class="blog-title" href="javascript://">
                {{ item.title }}
            </a>
        </td>
        <td>
            {{ item.short }}
        </td>
        <td>
            <a class="blog-edit-ajax" href="javascript://">edit</a>
            <a class="blog-delete-ajax" href="javascript://">delete</a>
        </td>
    </tr>
{% endfor %}