<div>
    <a class="back-to-list">Back</a>
    <br>
    {{ item.title }}
    <br>
    <div>{{ item.body }}</div>
    <br>
    <img style="width: 150px" src="{{ asset('uploads/images/') ~ item.pic }}" />
</div>