<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Short</th>
    </tr>
    </thead>
    <tbody id="table_content">

        {% for item in paginator %}
            <tr>
                <td>
                    {% set image = item.getImage %}
                    {% if image %}
                        {% set src = image.getPath %}
                    {% else %}
                        {% set src = item.pic %}
                    {% endif %}
                    {% include 'partials/image_view.html.twig' with {'src' : src} %}
                </td>
                <td>
                    <a data-id="{{ item.id }}" class="blog-title" href="javascript://">
                        {{ item.title }}
                    </a>
                </td>
                <td>
                    {{ item.short }}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{{ knp_pagination_render(paginator) }}